# Ignore everything
*

# Exception for directories (so git looks inside them)
!*/

# Exception for specific files/folders we want
!street_english_app/**
!.github/**
!requirements.txt
!.gitignore

# Explicitly ignore email folder
email/

# Re-ignore things we definitely don't want inside the allowed folders
__pycache__/
*.pyc
.DS_Store
.env
